.comment-section .quill {
  display: flex;
  flex-direction: column;
  overflow-y: unset;
  border-radius: 5px;
}

.comment-section .ql-toolbar {
  order: 2;
}

.comment-section .ql-editor {
  min-height: 140px;
  order: 1;
}

form .ql-editor {
  min-height: 200px;
}

.comment-section .ql-container.ql-snow,
.comment-section .ql-toolbar.ql-snow {
  border: none;
}

.comment-section .ql-toolbar.ql-snow {
  border-top: 1px solid;
  @apply border-muted-foreground;
  padding-block: 1rem;
}

.comment-section .ql-snow.ql-toolbar button,
.comment-section .ql-snow .ql-toolbar button {
  width: 28px;
  height: 28px;
  @apply text-input;
}

.comment-section .ql-snow .ql-stroke {
  fill: none;
  @apply stroke-muted-foreground;
}

.comment-section .ql-snow .ql-fill,
.comment-section .ql-snow .ql-stroke.ql-fill {
  @apply fill-muted-foreground;
}

.comment-section .ql-editor.ql-blank::before {
  @apply text-muted-foreground;
  font-size: 1rem;
  font-style: italic;
}
