.tox-tinymce {
  border-color: var(--editor-border-color) !important;
}

.tox .tox-editor-container {
  background-color: var(--editor-bg-color) !important;
}

.tox .tox-editor-header {
  background-color: var(--editor-header-bg-color) !important;
}

.tox .tox-toolbar,
.tox .tox-toolbar__overflow,
.tox .tox-toolbar__primary {
  background-color: var(--editor-toolbar-bg-color) !important;
}

.tox .tox-tbtn {
  color: var(--editor-icon-color) !important;
}

.tox .tox-tbtn:hover {
  background-color: var(--editor-btn-hover-color) !important;
}

.tox .tox-edit-area__iframe {
  background-color: var(--editor-content-bg-color) !important;
}
.tox .tox-menubar {
  background-color: var(--editor-bg-color) !important;
  gap: 0.5rem !important;
}

.tox .tox-mbtn,
.tox .tox-tbtn,
.tox .tox-editor-container,
.tox .tox-sidebar-wrap .tox-edit-area > iframe > #tinymce,
.tox .tox-tinymce .tox-edit-focus,
.tox > .mce-content-body p,
.tox #tinymce,
.tox .tox-statusbar,
.tox .tox-statusbar__wordcount,
.tox .tox-statusbar__path-item,
.tox .tox-statusbar__branding a {
  background: var(--editor-bg-color) !important;
  background-color: var(--editor-bg-color) !important;
  color: var(--editor-icon-color) !important;
  border-color: var(--editor-bg-color) !important;
}

.tox .tox-edit-area__iframe {
  background-color: var(--editor-content-bg-color) !important;
}

.mce-content-body {
  background-color: var(--editor-content-bg-color) !important;
  color: var(--editor-content-text-color) !important;
}

/* 
.tox .tox-edit-area {
  background: var(--editor-bg-color) !important;
  background-color: var(--editor-content-bg-color) !important;
}

.mce-content-body[data-gr-ext-installed] {
  border: 2px solid var(--editor-header-bg-color) !important;
  background: var(--editor-bg-color) !important;
  background-color: var(--editor-content-bg-color) !important;
} */

.tox .tox-icon svg,
.tox .tox-statusbar svg,
.tox .tox-menu.tox-collection__item-caret svg {
  fill: var(--editor-icon-color) !important;
}

.tox-editor-container {
  border-color: var(--editor-bg-color) !important;
}

.tox .tox-toolbar__primary {
  background-color: var(--editor-bg-color) !important;
}

body {
  background: var(--editor-bg-color) !important;
  background-color: var(--editor-bg-color) !important;
  color: var(--editor-icon-color) !important;
}
